<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="action_transfert_currency_tree" model="ir.actions.act_window">
        <field name="name">Devises</field>
        <field name="res_model">res.currency</field>
        <field name="view_mode">list,form</field>
        <field name="context">{'active_test': False}</field>
        <field name="view_id" ref="base.view_currency_tree"/>
    </record>

    <record id="action_transfert_partner_bank_tree" model="ir.actions.act_window">
        <field name="name">Comptes bancaires</field>
        <field name="res_model">res.partner.bank</field>
        <field name="view_mode">list,form</field>
        <field name="view_id" ref="base.view_partner_bank_tree"/>
    </record>

    <record id="action_transfert_res_bank_tree" model="ir.actions.act_window">
        <field name="name">Banques</field>
        <field name="res_model">res.bank</field>
        <field name="view_mode">list,form</field>
        <field name="view_id" ref="base.view_res_bank_tree"/>
    </record>

    <record id="action_transfert_hr_employee_kanban" model="ir.actions.act_window">
        <field name="name">Employés</field>
        <field name="res_model">hr.employee</field>
        <field name="view_mode">kanban,list,form</field>
        <field name="view_id" ref="hr.hr_kanban_view_employees"/>
    </record>

    <menuitem
        id="menu_transfert_batch"
        name="Virements"
        web_icon="l10n_transfert,static/description/icon.png"
        sequence="110"/>

    <menuitem
        id="menu_transfert_virement"
        name="Virement"
        parent="menu_transfert_batch"
        sequence="100"/>

    <menuitem
        id="menu_transfert_batches"
        name="Lots"
        parent="menu_transfert_virement"
        action="l10n_mr_bank_transfer.action_bank_transfer_batch"
        sequence="10"/>

    <menuitem
        id="menu_transfert_transfers"
        name="Virement"
        parent="menu_transfert_virement"
        action="l10n_mr_bank_transfer.action_bank_transfer"
        sequence="20"/>

    <menuitem
        id="menu_transfert_settings"
        name="Paramètres"
        parent="menu_transfert_batch"
        sequence="200"/>

    <menuitem
        id="menu_transfert_currency"
        name="Devises"
        parent="menu_transfert_settings"
        action="action_transfert_currency_tree"
        sequence="10"/>

    <menuitem
        id="menu_transfert_partner_bank"
        name="Comptes bancaires"
        parent="menu_transfert_settings"
        action="action_transfert_partner_bank_tree"
        sequence="20"/>

    <menuitem
        id="menu_transfert_res_bank"
        name="Banques"
        parent="menu_transfert_settings"
        action="action_transfert_res_bank_tree"
        sequence="30"/>

    <menuitem
        id="menu_transfert_hr_employees"
        name="Employés"
        parent="menu_transfert_batch"
        action="action_transfert_hr_employee_kanban"
        sequence="40"/>
</odoo>
